.box
	.head
		.head-top
		.eyelids
			.left-lid 
			.right-lid
		.mouth-cover
			span
			#top-z z
			#middle-z z
			#bottom-z z
		.head-bottom
			.cheek-left 
			.cheek-right
			.mouth
				#left 
				#right 
				.tongue 
		.ear-left
			.inner-ear
		.ear-right
			.inner-ear
		.eye-left
			.pupil
		.eye-right
			.pupil
		.nose
	.rings
		.pikachu-body
	.tail
	ul
		li
		li
		li
